body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url("fondoesteril.jpg") ;
    background-size: cover;
}

.navbar {
    background-color: #333; /* Color de fondo gris */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logogt {
    height: 80px;
    padding: 0px 30px;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-list li {
    margin-left: 50px;
}

.menu-list li a {
    color: white;
    text-decoration: none;
    padding: 5px 70px;
}

.menu-list li a:hover {
    background-color: #666;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

.dropdown-content li {
    margin: 5px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #03b303;
    text-align: center;
}

p {
    line-height: 1.6;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.btn {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #03b303;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #008000;
}

.logo {
    display: flex;
}
.evidenciatit {
    background-color: #1b4b25; /* Color de fondo gris */
    color: rgb(255, 245, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.evidenciatit h2 {
    margin-left: 50px;
}