<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/AYUDA.css">
    <link rel="icon" href="../images/iguanana.png">
    <link rel="stylesheet" href="../css/responsive.css">


</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="../images/iguanana.png" alt="Logo de tu Proyecto" class="logogt">
            <h2>Ecoart</h2>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li><a href="../index.html"><b>INICIO</b></a></li>
                <li><a href="AYUDA.html"><b>AYUDA</b></a></li>
                <div id="DisplayPc" class="NewDrop">
                    <li class="dropdown">
                        <a href="#"><b>MENU</b></a>
                        <ul class="dropdown-content">
                            <li><a href="evidencias.html">Evidencias</a></li>
                            <li><a href="integrantes.html">Integrantes</a></li>
                            <li><a href="Manualidades.html">Manualidades</a></li>
                            <li><a href="Ecogame.html">Ecogame</a></li>
                            <li><a href="trabajosocial.html">Trabajo social</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
            <div id="DisplayMobile" class="NewDrop">
                <li class="dropdown">
                    <a href="#"><b>MENU</b></a>
                    <ul class="dropdown-content">
                        <li><a href="evidencias.html">Evidencias</a></li>
                            <li><a href="integrantes.html">Integrantes</a></li>
                            <li><a href="Manualidades.html">Manualidades</a></li>
                            <li><a href="Ecogame.html">Ecogame</a></li>
                            <li><a href="trabajosocial.html">Trabajo social</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
  <!--
    
      <header id="tituloevi" class="evidencia2">
            <div class="evidenciatit">
            <h2>
            Ayuda
            </h2>
            </div>
            </header>
            </div>
  -->  
    <div class="main-content">
        <h1>¿No sabes como reciclar?</h1>
        <p>Primero tenemos que empezar con lo básico; los colores de las canecas definen que clase de objetos se botan en estas, estas son las canecas básicas:</p>
        <div class="imagenes">
            <img src="../images/canecaverde.png" class="canv">
            <p><b>Residuos Orgánicos Aprovechables:</b> Para depositar restos de alimentos desechos agrícolas, poda de césped, etc.</p>
        </div>
        <div class="imagenes2">
            <img src="../images/canecanegra.png" class="cann">
            <p><b>Residuos No Aprovechables:</b> Para depositar papel higiénico; servilletas, papeles y cartones contaminados con alimentos; papeles metalizados, entre otros.</p>
        </div>
        <div class="imagenes3">
            <img src="../images/canecablanca.png" class="canb">
            <p><b>Residuos Aprovechables:</b>Para depositar plástico, vidrio, metales, papel y cartón.</p>
        </div>
    </div>
</body>
</html>