<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo</title>
    <link rel="stylesheet" href="../css/desarrollo1.css">
    <link rel="icon" href="../images/iguanana.png">
    <link rel="stylesheet" href="../css/responsive.css">


</head>
<body>
  <body>
    <div class="navbar">
        <div class="logo">
            <img src="../images/iguanana.png" alt="Logo de tu Proyecto" class="logogt">
            <h2>Ecoart</h2>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li><a href="../index.html"><b>INICIO</b></a></li>
                <li><a href="AYUDA.html"><b>AYUDA</b></a></li>
                <div id="DisplayPc" class="NewDrop">
                    <li class="dropdown">
                        <a href="#"><b>MENU</b></a>
                        <ul class="dropdown-content">
                            <li><a href="evidencias.html">Evidencias</a></li>
                            <li><a href="integrantes.html">Integrantes</a></li>
                            <li><a href="Manualidades.html">Manualidades</a></li>
                            <li><a href="Ecogame.html">Ecogame</a></li>
                            <li><a href="trabajosocial.html">Trabajo social</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
            <div id="DisplayMobile" class="NewDrop">
                <li class="dropdown">
                    <a href="#"><b>MENU</b></a>
                    <ul class="dropdown-content">
                        <li><a href="evidencias.html">Evidencias</a></li>
                            <li><a href="integrantes.html">Integrantes</a></li>
                            <li><a href="Manualidades.html">Manualidades</a></li>
                            <li><a href="Ecogame.html">Ecogame</a></li>
                            <li><a href="trabajosocial.html">Trabajo social</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="main-content">
        <h1>¿Como puedo hacer parte de esto?</h1>
        <p>¡Me alegro de que quieras participar! Como ya sabes, en este proyecto nos dedicamos a reciclar, pero lo hacemos de una forma mas divertida, ya que hacemos arte con materiales reciclables</p>
        <p>El primer y único requisito para participar, es tener ganas de ayudar al medio ambiente y de hacer esculturas o figuras con diferentes materiales que puedes encontrar en el suelo y que se pueden aprovechar</p>
        <p>Puedes contactarte con nosotros a través de nuestro correo: <b>ecoart@gmail.com</b> o con un mensaje en nuestras redes sociales:</p>
        <div class="redes">
            <a href="https://www.instagram.com/ecoart_proyect/">
                <img src="../images/instagram.png" class="igg"></a>
        </div>
    </div>
</body>
</html>