<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evidencias</title>
    <link rel="stylesheet" href="../css/evidencia9s.css">
    <link rel="icon" href="../images/iguanana.png">
    <link rel="stylesheet" href="../css/responsive.css">


</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="../images/iguanana.png" alt="Logo de tu Proyecto" class="logogt">
            <h2>Ecoart</h2>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li><a href="../index.html"><b>INICIO</b></a></li>
                <li><a href="AYUDA.html"><b>AYUDA</b></a></li>
                <div id="DisplayPc" class="NewDrop">
                    <li class="dropdown">
                        <a href="#"><b>MENU</b></a>
                        <ul class="dropdown-content">
                            <li><a href="evidencias.html">Evidencias</a></li>
                            <li><a href="integrantes.html">Integrantes</a></li>
                            <li><a href="Manualidades.html">Manualidades</a></li>
                            <li><a href="Ecogame.html">Ecogame</a></li>
                            <li><a href="trabajosocial.html">Trabajo social</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
            <div id="DisplayMobile" class="NewDrop">
                <li class="dropdown">
                    <a href="#"><b>MENU</b></a>
                    <ul class="dropdown-content">
                        <li><a href="evidencias.html">Evidencias</a></li>
                            <li><a href="integrantes.html">Integrantes</a></li>
                            <li><a href="Manualidades.html">Manualidades</a></li>
                            <li><a href="Ecogame.html">Ecogame</a></li>
                            <li><a href="trabajosocial.html">Trabajo social</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <!--

        <header id="tituloevi" class="evidencia2">
            <div class="evidenciatit">
            <h2>
            Evidencias
            </h2>
            </div>
            </header>
            </div>
    -->
    <div class="main-content">
        <div class="florp">
            <center><img src="../images/flor.png" class="florp2"></center>
            <p>Luz de primavera, es un adorno pequeño en forma de una flor, muy lindo para decorar tu habitación o para regalar! ✨</p>
        </div>
        <div class="cora">
            <center><img src="../images/corazonx.png" class="coraz"></center>
            <p>Esto es una carta, perfecta para dar o recibir de alguien que aprecias.</p>
        </div>
    </div>
</body>
</html>
</body>
</html>