<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrantes</title>
    <link rel="stylesheet" href="../css/integrant.css">
    <link rel="icon" href="../images/iguanana.png">
    <link rel="stylesheet" href="../css/responsive.css">


</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="../images/iguanana.png" alt="Logo de tu Proyecto" class="logogt">
            <h2>Ecoart</h2>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li><a href="../index.html"><b>INICIO</b></a></li>
                <li><a href="AYUDA.html"><b>AYUDA</b></a></li>
                <div id="DisplayPc" class="NewDrop">
                    <li class="dropdown">
                        <a href="#"><b>MENU</b></a>
                        <ul class="dropdown-content">
                            <li><a href="evidencias.html">Evidencias</a></li>
                            <li><a href="integrantes.html">Integrantes</a></li>
                            <li><a href="Manualidades.html">Manualidades</a></li>
                            <li><a href="Ecogame.html">Ecogame</a></li>
                            <li><a href="trabajosocial.html">Trabajo social</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
            <div id="DisplayMobile" class="NewDrop">
                <li class="dropdown">
                    <a href="#"><b>MENU</b></a>
                    <ul class="dropdown-content">
                        <li><a href="evidencias.html">Evidencias</a></li>
                            <li><a href="integrantes.html">Integrantes</a></li>
                            <li><a href="Manualidades.html">Manualidades</a></li>
                            <li><a href="Ecogame.html">Ecogame</a></li>
                            <li><a href="trabajosocial.html">Trabajo social</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <!--

        <header id="tituloevi" class="evidencia2">
            <div class="evidenciatit">
            <h2>
            Integrantes
            </h2>
            </div>
            </header>
            </div>
    -->
    <div class="main-content">
        <ul>
        <li><h1>Rey Borrego</h1></li>
        <li><h1>Diego Caldas</h1></li>
        <li><h1>Oscar Lacera</h1></li>
        <li><h1>Mauricio Ramirez</h1></li>
        <li><h1>Sebastian Torres</h1></li>
        <li><h1>Juliana Urbiñez</h1></li>
    </ul>
    </div>
</body>
</html>