<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Social</title>
    <link rel="stylesheet" href="../css/trabajoscial.css">
    <link rel="icon" href="../images/iguanana.png">
    <link rel="stylesheet" href="../css/responsive.css">

</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="../images/iguanana.png" alt="Logo de tu Proyecto" class="logogt">
            <h2>Ecoart</h2>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li><a href="../index.html"><b>INICIO</b></a></li>
                <li><a href="AYUDA.html"><b>AYUDA</b></a></li>
                <div id="DisplayPc" class="NewDrop">
                    <li class="dropdown">
                        <a href="#"><b>MENU</b></a>
                        <ul class="dropdown-content">
                            <li><a href="evidencias.html">Evidencias</a></li>
                            <li><a href="integrantes.html">Integrantes</a></li>
                            <li><a href="Manualidades.html">Manualidades</a></li>
                            <li><a href="Ecogame.html">Ecogame</a></li>
                            <li><a href="trabajosocial.html">Trabajo social</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
            <div id="DisplayMobile" class="NewDrop">
                <li class="dropdown">
                    <a href="#"><b>MENU</b></a>
                    <ul class="dropdown-content">
                        <li><a href="evidencias.html">Evidencias</a></li>
                            <li><a href="integrantes.html">Integrantes</a></li>
                            <li><a href="Manualidades.html">Manualidades</a></li>
                            <li><a href="Ecogame.html">Ecogame</a></li>
                            <li><a href="trabajosocial.html">Trabajo social</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <!--
        <div class="evidenciatit">
            <h2>
            Trabajo social
            </h2>
            </div>
            </header>
            </div>
        <div class="main-content">
    -->
        
        
    <h1>Actividades realizadas en la sede 2 del Liceo Samario</h1>
        <div class="imagenes2">
        <img src="../images/pelaito.png" class="tib">
        <img src="../images/pelaita.png" class="pela">
    </div>
    <div class="imagesmorta">
        <div>
            <img src="../images/chicos.png" class="mortadela">
            <h1>27/07/2023</h1>
        </div>
    </div>
    </div>
</body>
</html>